{{ define "main" }}

{{ if not .IsHome }}
<h1>{{ .Title }}</h1>
{{ end }}

<article id="archive">
  <section>
    {{ .Content }}
  </section>
  <section>
    {{ range .Paginator.Pages }}
    <div class="value">

      <div class="date">
        <time datetime="{{ .PublishDate }}">{{ T "publishDateShort" . }}</time>
      </div>
      
      <h2 class="title"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>

      <p>{{ .Summary }}</p>

      {{ with .Params.tags }}
      <div class="tags">
        {{ T "tags" }}:
        {{ range . }}
        <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
      {{ end}}

      {{ with .Params.categories }}
      <div class="categories">
        {{ T "categories" }}:
        {{ range . }}
        <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
        {{ end }}
      </div>
      {{ end}}

    </div>
    {{ end }}
  </section>
  {{- template "_internal/pagination.html" . -}}
</article>
{{ end }}