{{ define "main" }}
<article>

  <header>
    <h1>
      {{ .Title }}
    </h1>

    <div class="tip">
      {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
      {{ $dateHuman := .Date | time.Format ":date_long" }}
      <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
      <span class="split">
        ·
      </span>
      <span>
        {{ i18n "wordCount" . }}
      </span>
      <span class="split">
        ·
      </span>
      <span>
        {{ i18n "minuteRead" . }}
      </span>
    </div>
  </header>

  {{ partialCached "toc.html" . }}

  <div>
    {{ .Content }}
  </div>

  {{ with .Params.tags }}
  <div class="tags">
    {{ T "tags" }}:
    {{ range . }}
    <a href="{{ "tags/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end}}

  {{ with .Params.categories }}
  <div class="categories">
    {{ T "categories" }}:
    {{ range . }}
    <a href="{{ "categories/" | absURL }}{{ . | urlize }}">{{ . }}</a>
    {{ end }}
  </div>
  {{ end}}

  {{ partialCached "share.html" . }}

</article>
{{ end }}