:root {
    --maxwidth: 1024px;
    --lightblue: #0383ec;
    --textcolor: #404040;
    --bgcolor: #ffffff;
    --bg2nd: #eee;
    --texthover: #0366d6;
    --bubblebg: #f2f2f2;
    --shade: rgb(218, 218, 220, 0.4);
}

@media (prefers-color-scheme: dark) {
    :root {
        --lightblue: #5badf0;
        --textcolor: #cdcdcd;
        --bgcolor: #000000;
        --bg2nd: #222;
        --texthover: #95c7ff;
        --bubblebg: #333;
        --shade: rgba(59, 59, 59, 0.4);
    }

    td code,
    p code,
    li code {
        background-color: rgba(255, 255, 255, 0.16) !important;
        border: 1px solid rgba(255, 255, 255, 0.18) !important;
    }
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    line-height: 1;
    font: normal 20px/1.5em 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--textcolor);
    background-color: var(--bgcolor);
    line-height: 1.75;
    letter-spacing: 0.008em;
    max-width: var(--maxwidth);
    padding: 1rem;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
    color: var(--lightblue);
}

a:hover {
    color: var(--texthover);
}

/* markdown content styles */
blockquote {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-left: 1em;
    margin-left: 0px;
    border-left: 3px solid #999;
    padding-right: 1em;
    margin-right: 0px;
    border-right: 3px solid #999;
    color: var(--textcolor);
    background-color: var(--bg2nd);
}

hr {
    display: block;
    border: none;
    height: 2px;
    margin: 40px auto;
    opacity: 0.6;
    background: var(--textcolor);
}

table {
    width: 100%;
    margin: 40px 0;
    border-collapse: collapse;
    line-height: 1.5em;
}

th,
td {
    text-align: left;
    padding-right: 20px;
    vertical-align: top;
}

table td,
td {
    border-spacing: none;
    border-style: solid;
    padding: 10px 15px;
    border-width: 1px 0 0 0;
}

thead th,
th {
    text-align: left;
    padding: 10px 15px;
    height: 20px;
    font-size: 13px;
    font-weight: bold;
    color: var(--textcolor);
    cursor: default;
    white-space: nowrap;
    border: 1px solid var(--shade);
}

tr>td {
    border: 1px solid var(--shade);
}

tr:nth-child(odd)>td {
    background: var(--shade);
}

h1,
h2,
h3 {
    font-weight: 400;
}

#post h2,
#post h3,
#post h4,
#post h5,
#post h6 {
    padding: 0.4rem;
    border-bottom: 2px solid #999;
    color: var(--textcolor);
    background-color: var(--bg2nd);
}

#post h2 {
    font-size: xx-large;
}

#post h3 {
    font-size: x-large;
}

#post h4 {
    font-size: larger;
}

#post h5 {
    font-size: large;
}

p {
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

p,
pre {
    word-break: normal;
    overflow-wrap: anywhere;
}

ul {
    padding-left: 1rem;
    padding-right: 1rem;
}

ul:has(li input) {
    list-style: none;
    /* padding: 0; */
}

.markdown-image img,
p img {
    max-width: 100%;
    display: block;
    margin: auto;
}

p>img+em {
    opacity: 0.6;
    font-style: normal;
    display: block;
    text-align: center;
}

.anchor {
    font-size: 100%;
    visibility: hidden;
    color: silver;
}

h1:hover a,
h2:hover a,
h3:hover a,
h4:hover a {
    visibility: visible
}

.highlight pre,
pre {
    padding: 7px;
    overflow-x: auto;
}

.highlight {
    max-width: 100%;
    overflow-x: auto;
}

td code,
p code,
li code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
    font-size: inherit;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 0 2px;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 2px 2px;
    line-height: inherit;
    word-wrap: break-word;
    text-indent: 0;
}

pre code {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, Courier, monospace;
}

code,
pre,
.highlight div table {
    unicode-bidi: plaintext;
    direction: ltr;
}

header {
    text-align: center;
}

/* navigation */

nav.navigation {
    display: inline-block;
    padding: 20px 20px 0;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
}

nav.navigation a {
    display: inline-block;
    top: 8px;
    right: 6px;
    padding: 8px 12px;
    color: var(--lightblue);
    /* font-size: 13px; */
    line-height: 1.35;
    border-radius: 3px;
    text-wrap: nowrap;
}

nav.navigation a:hover {
    color: var(--texthover);
}

nav.navigation a.button {
    background: var(--lightblue);
    margin-left: 12px;
}

@media (max-width: 700px) {
    nav.navigation {
        padding: 20px 10px 0 0;
        margin: 0 auto;
        text-align: center;
        z-index: 100;
    }

    nav.navigation a {
        top: 8px;
        right: 6px;
        padding: 8px 8px;
        color: var(--lightblue);
        /* font-size: 13px; */
        line-height: 1.35;
        border-radius: 3px;
    }
}

@media (max-width: 324px) {
    nav.navigation a.button {
        display: none;
    }
}

/* toc */
.toc {
    margin: auto;
    padding: 10px 7px;
    margin-top: 36px;
}

.toc details summary {
    cursor: zoom-in;
    margin-inline-start: 14px;
    font-weight: 500;
}

.toc details[open] summary {
    cursor: zoom-out;
}

.toc #TableOfContents {
    margin-left: 10px;
}

.toc ul {
    padding-inline-start: 24px;
}

/* comment */
#comment {
    margin-top: 64px;
}

/* footer */
footer {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
    color: var(--textcolor);
    opacity: 0.8;
    /* font-size: 14px; */
}

footer .copyright {
    text-align: center;
}

/* main content */
main {
    margin-bottom: 1rem;
}

.main {
    width: 100%;
    margin: 0 auto;
}

/* profile  */

.profile {
    margin: 60px auto 0 auto;
    text-align: center;
}

.profile .avatar {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.profile h1 {
    font-weight: 400;
    letter-spacing: 0px;
    font-size: 24px;
    color: var(--textcolor);
    margin-bottom: 0;
    margin-top: 0;
}

.profile h2 {
    font-size: 24px;
    font-weight: 300;
    color: var(--textcolor);
    margin-top: 0;
}

.post {
    border-radius: 0.4rem;
    padding: 1rem;
    margin: 1rem auto;
    background-color: var(--bg2nd);
}

.title {
    display: inline-flex;
    align-items: center;
    gap: 1rem;
    color: var(--textcolor);
    font-size: 24px;
    font-weight: 400;
    margin: 0;
    width: 80%;
}

/* pagination */
ul.pagination,
ul.pagination-default {
    display: flex;
    gap: 1rem;
    font-size: large;
    list-style: none;
    padding: 0;
    align-items: center;
    justify-content: center;
}

li.page-item {
    display: inline-block;
    padding: 0.2rem 0.6rem;
    background-color: var(--bubblebg);
    border-radius: 0.4rem;
}

li.page-item.disabled {
    opacity: 0.6;
    cursor: not-allowed;
}

li.page-item.active {
    opacity: 0.6;
    border: 1px solid var(--lightblue);
}

@media (max-width: 700px) {
    #single {
        padding: 0 18px;
        margin: 20px auto 0 auto;
    }

    #single .title {
        font-size: 24px;
        line-height: 32px;
    }
}

.tip {
    display: flex;
    color: var(--textcolor);
    opacity: 0.6;
    margin-top: 18px;
    font-size: 14px;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
}

.tags,
.categories {
    display: inline;
}

.tags a,
.categories a {
    background: var(--bubblebg);
    padding: 4px 7px;
    color: var(--textcolor);
    font-size: 14px;
    border-radius: 0.2rem;
}

.tags a:hover,
.categories a:hover {
    color: var(--texthover);
}

/* taxonomy */
#tags,
#categories {
    max-width: 700px;
    margin: 48px auto 0 auto;
    padding: 0 12px;
    text-align: center;
}

#tags .tag,
#categories .tag {
    display: inline-block;
    margin: 7px 7px;
}

@media (max-width: 700px) {

    #tags,
    #categories {
        margin: 0 auto 0 auto;
    }

    #tags .tag,
    #categories .tag {
        display: inline-block;
        margin: 4px 5px;
    }
}

#tags .tag a,
#categories .cat a {
    background: var(--bubblebg);
    padding: 4px 7px;
    color: var(--textcolor);
    font-size: 14px;
    margin-right: 3px;
}

.svgFill,
.newTabSvgFill {
    fill: var(--texthover);
    /* fill-blue-800 dark:fill-blue-300 */
}

.newTabSvgFill {
    opacity: 0.4;
    position: relative;
    left: -0.4rem;
}

.socialLinks {
    text-align: center;
}

.shareMenu {
    display: inline-block;
}

.shareMenu * {
    vertical-align: middle;
    padding: 0.2rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}

.homepageTitle {
    display: inline-block;
    margin: 0;
    font-size: 1.2em;
}

.pages a {
    display: inline-block;
    margin: 4px;
}

kbd {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 0px #ccc, 0 2px 4px rgba(0, 204, 204, 0.5);
    -moz-box-shadow: 0 2px 0px #ccc, 0 2px 4px rgba(0, 204, 204, 0.5);
    box-shadow: 0 2px 0px #ccc, 0 2px 4px rgba(0, 204, 204, 0.5);
    border: 1px solid #ccc;
    display: inline-block;
    font-size: .9em;
    padding: 0em .6em;
    white-space: nowrap;
}

abbr {
    text-decoration: underline;
    text-decoration-style: dotted;
}

#navback {
    display: flex;
    justify-content: space-between;
}

.postBottom {
    display: flex;
    gap: 1rem;
    flex-direction: row;
}

@media (max-width: 700px) {
    .postBottom {
        flex-direction: column;
    }
}

.search-form {
    right: 200px;
    top: 200px;
}

.search-field {
    background-color: transparent;
    background-image: url("/img/search.svg");
    background-position: 5px center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    border: none;
    cursor: pointer;
    height: 40px;
    margin: 3px 0;
    padding: 0 0 0 34px;
    position: relative;
    -webkit-transition: width 400ms ease, background 400ms ease;
    transition: width 400ms ease, background 400ms ease;
    width: 0px;
}

.search-field:focus {
    background-color: var(--bg2nd);
    border: 1px solid var(--textcolor);
    border-radius: 0.8rem;
    cursor: text;
    outline: 0;
    width: 250px;
    color: var(--textcolor);
}

.search-form .search-submit {
    display: none;
}

/* related posts */
.relatedPosts {
    background-color: var(--bg2nd);
}

.relatedPosts h4 {
    border-top: 2px solid #999;
}

.relatedPosts h5 {
    background-color: transparent !important;
    border: none !important;
    font-size: medium;
}

.relatedPosts a>h5::before {
    content: '♦';
    padding-left: 0px;
    padding-right: 0.4rem;
}

html[dir="rtl"] .relatedPosts a>h5::before {
    padding-left: 0.4rem;
    padding-right: 0px;
}

.series {
    list-style: circle;
}

.tagTitleWrapper {
    display: block;
    text-align: center;
}

.tagTitle {
    display: inline-block;
    position: relative;
    margin: 0 auto;
    padding: 0.2rem 0.8rem;
    background: var(--bubblebg);
    padding: 0.2rem 0.8rem;
    text-align: center;
    font-size: 1.4rem;
    line-height: 3rem;
    max-width: 78%;
}

.tagTitle::before {
    content: '';
    position: absolute;
    top: 0;
    left: -3rem;
    border: 1.7rem solid var(--bubblebg);
    border-left: 1.8rem solid transparent;
}

.tagTitle::after {
    content: '';
    position: absolute;
    top: 0;
    right: -3rem;
    border: 1.7rem solid var(--bubblebg);
    border-right: 1.8rem solid transparent;
}

.postCount {
    text-align: center;
}