{{ $k :=.Get 0 | safeHTML | upper }}

{{ with eq $k "COMMAND" }}
  {{ $k = "command ⌘" }}
{{ end }}

{{ with eq $k "CMD" }}
  {{ $k = "command ⌘" }}
{{ end }}

{{ with eq $k "OPTION" }}
  {{ $k = "option ⌥" }}
{{ end }}

{{ with eq $k "SHIFT" }}
  {{ $k = "⇧ Shift" }}
{{ end }}

{{ with eq $k "ALT" }}
  {{ $k = "Alt" }}
{{ end }}

{{ with eq $k "CONTROL" }}
  {{ $k = "Ctrl" }}
{{ end }}

{{ with eq $k "CTRL" }}
  {{ $k = "Ctrl" }}
{{ end }}

{{ with eq $k "PLUS" }}
  {{ $k = "+" }}
{{ end }}

{{ with eq $k "EQUAL" }}
  {{ $k = "=" }}
{{ end }}

{{ with eq $k "EQ" }}
  {{ $k = "=" }}
{{ end }}

{{ with eq $k "TELDE" }}
  {{ $k = "~" }}
{{ end }}

{{ with eq $k "TAB" }}
  {{ $k = "tab ↹" }}
{{ end }}

{{ with eq $k "CAPS" }}
  {{ $k = "caps lock" }}
{{ end }}

{{ with eq $k "ENTER" }}
  {{ $k = "↵ Enter" }}
{{ end }}

{{ with eq $k "DELETE" }}
  {{ $k = "Delete ⌦" }}
{{ end }}

{{ with eq $k "DEL" }}
  {{ $k = "Del" }}
{{ end }}

{{ with eq $k "BACKSPACE" }}
  {{ $k = "⌫ Backspace" }}
{{ end }}

{{ with eq $k "SPACEBAR" }}
  {{ $k = "␣ Spacebar" }}
{{ end }}

{{ with eq $k "SPACE" }}
  {{ $k = "␣ Spacebar" }}
{{ end }}

{{ with eq $k "UP" }}
  {{ $k = "▲" }}
{{ end }}

{{ with eq $k "RIGHT" }}
  {{ $k = "▶" }}
{{ end }}

{{ with eq $k "DOWN" }}
  {{ $k = "▼" }}
{{ end }}

{{ with eq $k "LEFT" }}
  {{ $k = "◀" }}
{{ end }}

{{ with eq $k "ESC" }}
  {{ $k = "⎋ esc" }}
{{ end }}

{{ with eq $k "ESCAPE" }}
  {{ $k = "⎋ esc" }}
{{ end }}

{{ with eq $k "PGUP" }}
  {{ $k = "PgUp" }}
{{ end }}

{{ with eq $k "PAGEUP" }}
  {{ $k = "PgUp" }}
{{ end }}

{{ with eq $k "PGDN" }}
  {{ $k = "PgDn" }}
{{ end }}

{{ with eq $k "PAGEDOWN" }}
  {{ $k = "PgDn" }}
{{ end }}

{{ with eq $k "WIN" }}
  {{ $k = "⊞ Win" }}
{{ end }}

{{ with eq $k "WINKEY" }}
  {{ $k = "⊞ Win" }}
{{ end }}

{{ with eq $k "SUPERKEY" }}
  {{ $k = "❖ Super" }}
{{ end }}

{{ with eq $k "SUPER" }}
  {{ $k = "❖ Super" }}
{{ end }}

{{ with eq $k "META" }}
  {{ $k = "◆ Meta" }}
{{ end }}

{{ with eq $k "HYPER" }}
  {{ $k = "✦ Hyper" }}
{{ end }}

{{ with eq $k "PRINT" }}
  {{ $k = "PrtScn" }}
{{ end }}

{{ with eq $k "PRINTSCREEN" }}
  {{ $k = "PrtScn" }}
{{ end }}

{{ with eq $k "PRTSCN" }}
  {{ $k = "PrtScn" }}
{{ end }}

{{ with eq $k "PRTSCR" }}
  {{ $k = "PrtScn" }}
{{ end }}

{{ with eq $k "PRTSC" }}
  {{ $k = "PrtScn" }}
{{ end }}

<kbd>{{ $k }}</kbd>